* {
    margin: 0 auto;
}

/* General Styling and layout */

header {
    background-color: #ed6b5b;
    position: fixed;
    width: 100%;
    height: 150px;
    z-index: 1;
    bottom: 800px;
}
footer {
    background-color: #ed6b5b;
    position: relative;
    top: 115px;
}
ul {
    list-style: none;
    position: fixed;
    left: 742px;
    top: 70px;
    line-height: 25px;
}
li {
    display: inline-block;
    font-size: 24px;
    margin: auto 15px;
}
a {
    text-decoration: none;
    margin-left: 10px;
    text-align: center;
}
thead, tfoot {
    font-weight: bold;
    font-size: 16px;
}
h1, h2, h3, h4, td, th, li, p, img {
    margin-top: 5px;
    font-family: 'Open Sans';
    text-align: center;
    color: #ece6ce;
    margin-top: 15px;
    margin-bottom: 15px;
}
p {
    margin-left: 4px;
    margin-right: 4px;
}
th {
    border: 1px solid whitesmoke;
}
main {
    position: relative;
    background-color: #3a3e59;
    top: 130px;
}
table {
    background-color: #f9ac66;
    width: 75%;
    line-height: 50px;
}

a:hover {
    color: #009;
    text-decoration: underline;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 14px;
    color: whitesmoke;
}
.images {
    display: flex;
    flex-wrap: wrap;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVQUwaEQbjA.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
 }

/* Colours */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box {
    margin: 4px;
    height: 40px;
    width: 40px;
}

.beige {
    background-color: beige;
}
.darkcyan {
    background-color: darkcyan;
}
.coral {
    background-color: coral;
}
.darkslateblue {
    background-color: darkslateblue;
}
.dimgrey {
    background-color: dimgrey;
}
.black {
    background-color: black;
}
.blanchedalmond {
    background-color: blanchedalmond;
}
.seashell {
    background-color: seashell;
}
.grey {
    background-color: grey;
}
.ghostwhite {
    background-color: ghostwhite;
}
.pink {
    background-color:#ea4b8b
}
.purple {
    background-color: #7f59b0;
}
.blue {
    background-color: #63c5ea;
}
.yellow {
    background-color: #fcb424;
}
.slategrey {
    background-color: slategrey;
}
.pinkdark {
    background-color: #ea4b8b88;
}
.purpledark {
    background-color: #7f59b088;
}

/* Fonts */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Xw5aXx-p7K4KLg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw5aXx-p7K4KLg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM73w5aXx-p7K4KLg.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojIWmb2RlV9Su1cai.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISmb2RlV9Su1cai.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/robotoslab/v23/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjoa4Omb2RlV9Su1cai.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/ibmplexmono/v12/-F6pfjptAgt5VM-kVkqdyU8n3kwa1XdgregdFA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexmono/v12/-F63fjptAgt5VM-kVkqdyU8n1i8q131nj-o.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'IBM Plex Mono';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ibmplexmono/v12/-F6qfjptAgt5VM-kVkqdyU8n3pQPwlBFgsAXHNk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
@font-face {
    font-family: 'Ms Madi';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/msmadi/v2/HTxsL2UxNnOji5E1B-fFiazTEYs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.montserrat {
    font-family: 'Montserrat';
}
.roboto_slab {
    font-family: 'Roboto Slab';
}
.ibm {
    font-family: 'IBM Plex Mono';
}
.ms_madi {
    font-family: 'Ms Madi';
    font-size: 30px;
}
.thin {
    font-weight: 100;
}
.normal {
    font-weight: 400;
}
.bold {
    font-weight: 700;
}

/* Buttons */

.square, .circle, .bevel {
    font-size: 20px;
    width: 250px;
    height: 250px;
    background-color: red;
    color: white;
    padding: 10px;
    margin:  10px auto;
}
.square:hover, .circle:hover, .bevel:hover {
    background-color: white;
    color: red;
}
.circle {
    font-size: 15px;
    border-radius: 100px;
}
.bevel {
    border-radius: 25px;
}
.skeu {
    box-shadow: #820000 4px 5px;
}

.skeu:active {
    box-shadow: #820000 2px 4px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.flat:active {
    background-color: #a5a5a5;
    color: #a50000;
}