
/* Global Styles */

body {
    height: 100rem;
    overflow-x: hidden !important;
}
p, span, a, label {
    font-size: 1.25rem;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-weight: 300;
    line-height: 1.6;
    margin-top: .5rem;
}
p {
    color: hsl(32, 100%, 35%);
    font-family: 'Courgette', cursive;
    font-size: 1.20rem;
    line-height:  2;
    margin: .3rem;
}
ul {
    display: flex;
}
input, textarea {
    font-family: 'Ubuntu', Arial, sans-serif;
    margin: 2rem 1rem;
    font-size: 1rem;
    background-color: hsl(31, 100%, 60%);
    vertical-align: middle;
    border-radius: .5rem;
}
input:focus:invalid {
    border-color: red;
}
input:focus, textarea:focus {
    border: 1px solid aquamarine;
}
a {
    color: hsl(197, 61%, 46%);
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: hsl(197, 21%, 46%);
}

h1 {
    font-size: 4rem;
    font-family: 'Courgette', cursive;
    color: hsl(197, 89%, 64%);
    margin-top: 2.5rem;
}
h2, h3, h4 {
    color: hsl(32, 100%, 70%);
    margin-top: .5rem;
    font-family: 'Ubuntu', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.button-primary {
    color: hsl(32, 100%, 35%);
    background-color: hsl(197, 89%, 64%);
    border-radius: 12px;
    padding: .75rem;
    font-weight: 500;
}
.button-secondary {
    color: black;
    background-color: hsl(31, 100%, 60%);
    padding: .5rem;
    border-radius: 5px;
    margin: 2rem;
}
.button-primary:hover, .button-secondary:hover {
    font-size: 1.5rem;
}
.button-primary:active {
    color: hsl(32, 60%, 35%);
    background-color:hsl(197, 59%, 64%);
}
.button-secondary:active {
    color: hsl(0, 20%, 0%);
    background-color: hsl(31, 80%, 60%)
}
.center {
    text-align: center;
}
.image-container {
    margin: auto 1%;
    display: inline-block;
}
.image-container img {
    border-radius: 1rem;
    max-width: 170%;
}

/* Header */

header {
    background-color: hsl(31, 100%, 60%);
    height: 6rem;
    width: 100%;
    position: sticky;
    top: 0;
    bottom: 0;
    z-index: 2;
    margin: 0 auto;
}

.link {
    margin-top: 1.6rem;
    margin-left: 8%;
}
.logo {
    margin-top: .5rem;
    margin-right: 50%;
}

/* Page Hero */

main {
    position: relative;
    bottom: 2.50rem;
}

.hero {
   height: 35rem;
   background-image: url('./Images/furnace_background.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
}
.hero h1, .hero h3 {
    text-align: center;
    vertical-align: bottom;
    line-height: 2.0;
    padding: .5rem;
}
.hero h3 {
    color: hsl(197, 61%, 46%);
    margin-top: 1rem;
    font-size: 3rem;
}

/* Order */

article {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
    justify-items: center;
}


/* Apply */ 

aside {
    box-sizing: border-box;
    height: 72rem;
    position: relative;
    bottom: 64.88rem;
    left: 60%;
    width: 40%;
    border-left: 1px solid whitesmoke;
    background-color: hsl(197, 61%, 46%);
    line-height: 3;
    padding: 0 1rem;
}
aside #flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Footer */

footer {
    background-color: hsl(32, 100%, 35%);
    position: relative;
    top: -62rem;
    height: 8rem;
    color: hsl(31, 100%, 60%);
}
span.desktop {
    position: relative;
    left: 88%;
    top: 1.75rem;
}
footer h3 a {
    position: relative;
    bottom: 1.25rem;
    color: hsl(197, 89%, 64%);
}

/* Responsive Design */
 
@media only screen and (max-width: 480px) {
    .desktop, .tablet {
        display: none;
    }
    .mobile {
        display: block;
    } 
    ul.mobile {
        display: flex;
    }
    .logo {
        margin-right: 12%;
    }
    h2.mobile {
        font-family: 'Courgette', cursive;
        position: relative; 
        top: 5rem;
        font-size: 3rem;
        padding: .75rem;
    }
    .hero {
        height: 20rem;
        background-color: hsl(197, 61%, 46%);
        background-image: none;
    }
    article {
        width: 100%;
    }
    article p {
        display: none;
    }
    article .button-secondary {
        display: block;
    }
    .image-container {
        margin: 1rem 5%;
    }
    aside {
        border: 0;
        height: 105rem;
        position: static;
        width: 100%;
    }
    footer {
        top: 0rem;
        width: 100%;
    }
 }
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .desktop:not(h1), .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
    ul.tablet {
        display: flex;
    }
    .logo {
        margin-right: 18%;
    }
    .link {
        margin-left: 8%;
    }
    h1, h3.tablet {
        padding: 1.5rem;
    }
    h3.tablet {
        color: hsl(32, 100%, 35%);
    }
    article {
        width: 100%;
    }
    .image-container {
        margin: 1rem 5%;
    }
    aside {
        height: 90rem;
        border: 0;
        position: static;
        min-width: 100%;
    }
    footer {
        top: -15rem;
    }
 }
@media only screen and (min-width: 1025px) {
    .tablet, .mobile  {
        display: none;
    }
 }
