/* Index:
1. Page Styles
2. Header and Nav
3. Main
4. Aside and Footer
5. Media Queries
*/

/* Global styles */

html {
    font-size: 16px;
    height: 100%;
}
body {
    display: grid;
    gap: 0;
    grid-template-areas: "header header header header header"
                         "hero hero hero hero hero"
                         "sports sports sports sports sports"
                         "join join join aside aside"
                         "footer footer footer footer footer";
    grid-template-rows: 5% 40% 35% 35% 7.5%;
    grid-template-columns: repeat(5, 20%);
    overflow-x: hidden;
}
h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight: 500;
    font-size: 5rem;
    color: hsl(316, 82%, 53%);
    line-height: 1.75;
}

h2, h3, h4 {
    color: hsl(193, 97%, 47%);
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.25;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2rem;
}
a, p, label {
    color: hsl(305, 100%, 75%);
    font-size: 1.5rem;
    font-family: "Merriweather", "Times New Roman", serif;
}
.hero p {
    color: hsl(316, 82%, 53%);
}
footer p {
    color: hsl(193, 97%, 47%);
}
p {
    font-size: 1.2rem;
}
a {
    color: hsl(213, 100%, 15%);
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: hsl(213, 100%, 45%);
}

.sports, .join, aside {
    background-color: hsl(213, 100%, 15%);
}
header, footer {
    background-color: hsl(316, 82%, 53%);
}

ul {
    position: relative;
    top: -1.5%;
    left: 65%;
    width: 35%;
}
input, select, textarea {
    margin: 5% auto;
    display: block;
    border-radius: 10%;
}

.image-container {
    box-sizing: border-box;
    width: 166.666666667%;
    margin: .75%;
    padding: .75%;
}
.flex {
    display: flex;
    justify-content: center;
    flex: 2 1 166.66666667%;
}
.center {
    text-align: center;
}
.button {
    padding: .4%;
    font-family: 'Montserrat', Arial, sans-serif;
    border-radius: .3%;
    width: 25%;
    background-color: hsl(305, 100%, 75%);
    color: hsl(213, 81%, 27%);
}
header li.button {
    margin-top: 0;
    position: relative;
    bottom: .75%;
    border-radius: 10%;
    padding: .4rem;
}

/* Header and Nav */

header {
    height: 100%;
    grid-area: header;
}
header li, .logo {
    display: inline-block;
    margin: 0% 5%;
}

/* Main */

.hero {
    width: 500%;
    height: 100%;
    background-image: url('./Images/hero_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-area: hero;
}
.sports {
    width: 500%;
    height: 100%;
    grid-area: sports;
}
.sports .image-container {
    border: .25rem solid hsl(193, 97%, 47%);
    border-radius: .25rem;
}
.join {
    width: 300%;
    height: 80%;
    grid-area: join;
}
.join .flex {
    justify-content: start;
}

/* Aside and Footer */

aside {
    width: 100%;
    height: 100%;
    grid-area: aside;
}
footer {
    width: 100%;
    height: 100%;
    grid-area: footer;
}

/* Media Queries */

@media only screen and (min-width: 1025px) {
    .sports img {
        width: 75%;
    }
    .join img {
        width: 50%;
    }
    .mobile, .tablet {
        display: none;
    }
 }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
    body {
        grid-template-rows: 5% 40% 30% 45% 35%;
    }
    .hero img {
        width: 32%;
    }
    .sports img {
        width: 40%;
    }
    .join {
        height: 110%;
    }
    .dekstop, .hero .desktop, .mobile {
        display: none;
    }
    .sports .desktop {
        display: block;
    }
 }

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        grid-template-rows: 5% 40% 15% 25% 6%;
    }
    .hero img {
        width: 30%;
    }
    .sports img {
        width: 80%;
    }
    .desktop li, p.desktop, .mobile {
        display: none;
    }
    ul.mobile {
        display: block;
    }
    .sports {
        height: 50%;
    }
    .join, aside {
        height: 100%;
    }
    .join {
        height: 50%;
    }
    footer {
        height: 110%;
    }
 }

@media only screen and (min-width: 360px) and (max-width: 480px) {
    html {
        font-size: 14px;
    }
    body {
        grid-template-columns: 100%;
        grid-template-rows: 8% 40% 40% 25% 25% 7.5%;
        grid-template-areas: "header"
        "hero"
        "sports"
        "join"
        "aside"
        "footer";
    }
    header .logo {
        width: 35%;
    }
    .hero img {
        width: 50%;
    }
    .sports img {
        width: 50%;
    }
    header {
        width: 100%;
        height: 100%;
    }
    .hero {
        width: 100%;
        height: 100%;
        background-image: none;
        background-color: hsl(198, 78%, 64%);
    }
    .sports {
        width: 100%;
        height: 100%;
    }
    .join, aside {
        width: 100%;
        height: 120%;
    }
    footer {
        width: 100%;
        height: 100%;
    }
    .desktop {
        display: none;
    }
    .button {
        width: 35%;
    }
    .logo {
        position: relative;
        top: -10%;
        width: 40%;
        height: 5%;
    }
    .hero .flex {
        display: none;
    }
    header ul.mobile {
        display: flex;
        flex-wrap: nowrap;
    }
    .sports .flex {
        flex-wrap: wrap;
    }
    header ul.mobile li {
        position: relative;
        bottom: 80px;
        left: -60px;
    }
}
