* {
    margin: 0 auto;

}

/* Fonts and colors */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/ubuntu/v19/4iCv6KVjbNBYlgoCjC3jsGyNPYZvgw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/sourceserifpro/v11/neIQzD-0qpwxpaWvjeD0X88SAOeauXQ-oAGIyY0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
header, footer {
    text-align: center;
    font-size: 30px;
    background-color: blanchedalmond;
}
tbody {
    background-color: cadetblue;
}
a {
    text-decoration: none;
    color: coral;
}
h1, h2, h3, li {
    font-family: 'Ubuntu', Arial , sans-serif;
    color: darkslateblue;
    list-style: none;
    margin: 10px;
}
p, td, th{
    font-family: 'Source Serif Pro', Georgia, serif;
    color: darkslategray;
    text-align: center;
    margin: 10px;
}
th, footer, tfoot {
    font-weight: bold;
    font-size: 25px;
}

.code {
    font-family: 'Courier New', Courier, monospace;
}
.important {
    color: beige;
    background-color: darkslateblue;
}

/* Dimension and position properties */
header {
    position: fixed;
    width: 100%;
    z-index: 1;
}
main {
    position: relative;
    top: 265px;
    background-color: darkcyan;
    height: 1600px;

}
thead, tfoot {
    height: 60px;
}
footer {
    position: relative;
    top: 197px;
    height: 300px;
    line-height: 2.5em;
}